
/*-----------------------------------通用-----------------------------------*/
body {
	margin:0; 
	padding:0; 
	line-height:170%;
	font-family:"微軟正黑體", "open-sans", Times New Roman , sans-serif;
	color:#333;
	background:#fff;
	font-size:1em;
}
*{
padding:0;
margin:0;}
a{
	color:#333;
}
a:hover ,a:focus{
	color:#94473a;
}
a, a:hover ,a:focus{
	text-decoration:none;
}
img{
	max-width:100%; 
	height:auto;
}
h1{
	margin:0 !important;
	line-height: normal;
}
h2{
	font-size:1.8em;
	font-weight:bold;
	color:inherit;
	margin: 0;
	line-height:130%;
	letter-spacing: 0px;
	color:#111;
}
h3{
    float: left;
    width: 100%;
    font-weight: bold;
    color: #fff;
    /*background: #f5f5f5;*/
    padding: 6px 15px;
    border-left: solid #e1e1e1 5px;
    /*border-radius: 0 30px 30px 0;*/
	font-size:1.2em;
	margin-bottom: 15px;
	background: linear-gradient(60deg, transparent 140px, #fff 0), linear-gradient(-120deg, transparent 150px, #90730f 0);
	border-bottom: solid #90730f 1px;
	text-shadow: 2px 2px 2px #90730f;
}
h4{
	font-weight:bold;
	color:#000;
}
p {
    margin: 0 0 5px;
}
label {
    font-weight: 400;
}
.text_center{
	text-align:center;
}
.text_right{
	text-align:right;
}
input[type=file] {
    max-width: 190px;
}
select {
	background:#fff;
	height: 34px;
}
.btn_01{
	padding:6px 20px 8px 20px;
	background: #666;
	color:#fff;
	font-size:14px;
	border:none;
	letter-spacing:1px;
	cursor:pointer;
	margin:10px 0;
	border-radius:4px;
}
.btn_01:hover{
	background:#94473a;
	color:#fff;
}
button.btn_01, input.btn_01{
    padding: 3px 20px;
}
.vertical_middle{
	vertical-align:middle;
}
.display_inline{
	display:inline-block !important;
}
.display_none{
	display:none;
}
.page_line{
	border-bottom:dotted #ccc 2px;
	margin:10px 0;
}
.white{
	color:#fff;
}
.red{
	color:red;
}
.blue{
	color:#145f7b;
}
.bg-white {
    background: #fff!important;
}
.bg-grey-steel {
    background: #e9edef!important;
}
/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}*/
.content_font{
	float:left;
	width:100%;
}
.scroll-to-top:hover {
	background:#94473a;
}
.scroll-to-top:hover i{
	color:#fff;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.text-center{
	text-align:center;
}
.display_inline{
	display:inline-block !important;
}
.remarks{
    font-size: 0.9em;
    padding-left: 2px;
	line-height:150%;
}
.w-auto{
	width:auto;
}
.w-100{
	width:100%;
}
.input-xlarge {
    width: 420px!important;
}
.input-large {
    width: 320px!important;
}
.input-medium {
    width: 240px!important;
}
.input-small {
    width: 145px!important;
}
.input-xsmall {
    width: 80px!important;
}
.nomargin{
	margin:0px;
}
.nomargintop{
	margin-top:0px;
}
.nomarginbottom{
	margin-bottom:0px;
}
.nomarginleft{
	margin-left:0px;
}
.nomarginright{
	margin-right:0px;
}
.nopaddingtop{
	padding-top:0px;
}
.nopaddingbottom{
	padding-bottom:0px;
}
.nopaddingleft{
	padding-left:0px;
}
.nopaddingright{
	padding-right:0px;
}
.img_padding{
	padding:10px;
}
.line{
	background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
	height:2px;
	float:left;
	width:100%;
	margin:25px 0;
}
.date{
	color:#db9441;
	font-size:0.8em;
	padding:5px 0;
}
/*.date:before{
	content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    padding-right: 0.3em;
    position: relative;
    left: 0;
}*/
.top_class {
    color: #fff;
    padding: 4px 7px;
    background: #db9441;
    border-radius: 5px;
    margin-left: 5px;
}
.form-control {
    padding: 6px 8px;
}
marquee{
	margin-top:-50px;
}
marquee span{
	margin-left:100px;
	font-size:0.85em;
	color:#666;
}
marquee span:before{
	content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: 0.5em;
    position: relative;
    left: 0;
}


/*header*/
.header-nav-top li:after{
    content: "∣";
    color:#999;
}
.header-nav-top li:last-child:after{
    content: "";
}
#header .header-nav-top .nav > li > a:focus ,.font_size a:focus ,.font_size a:hover{
    background: #94473a;
	color:#fff;
}
.font_size{
    display: inline-block;
}
.font_size >a{
    padding:1px 8px!important;
    border-radius: 4px;
}
.header-nav-top .nav-pills>li+li {
    margin-left: 4px;
}
.header-nav-top .share_icon i{
    text-shadow:none;
}
.header-nav-top .share_icon a{
	padding:0 !important;
}
.header-nav-top .nav > li > a .fa{
    margin-right: 0 !important;
}
.header-nav-top .nav > li > a .fa-facebook-f:before{
    padding: 0 3.5px;
}
.header-nav-top .share_icon a .fa:before{
    width: 25px;
}
#header .header-nav-top .share_icon a:hover{
    background:transparent !important;
}


/*top menu*/
.dropdown-menu{
	font-size:1em;
}

.dropdown-menu>li>a:hover ,.dropdown-menu>li>a:focus ,.dropdown-menu>li:focus,.dropdown-menu>li a:active{
	background:rgba(0, 0, 0, 0.3);
	color:#fff;
}
.header-nav-main nav > ul > li > a{
    color: #fff!important;
	border-left: solid rgba(255,255,255,0.3) 1px;
}
.header-nav-main nav > ul > li:last-child > a{
	border-right: solid rgba(255,255,255,0.3) 1px;
}
.nav-pills>li+li {
    margin-left: 0;
}
#header .header-nav-main nav > ul >li:hover:after {
    width: 100%;
    background: #94473a;
}
#header .header-nav-main nav > ul >li:after {
    content: '';
    display: none;
    margin: auto;
    height: 4px;
    width: 100%;
    background: #2cc393;
	
}
#header .header-nav-main nav > ul > li:last-child .dropdown-menu{
    right:0;
}
.header-nav-main .dropdown-menu{
    margin:0 !important;
}


/*index_banner*/
.slider-container  .container{
    text-align: center;
}
.tp-caption.item_box{
    background: rgba(0,0,0,.4) ;
    padding: 25px 25px 35px 25px !important;
    width: 100%;
    max-width: 700px !important;
    color:#fff;
    line-height: 150% !important;
    white-space: normal;
}
.index_banner .title{
	font-size:2em;
	margin-bottom:15px;
	line-height:150%;
	font-weight:bold;
	color:#ffb300;
}
.index_banner .con_font{
	line-height:150%;
	font-size:1.2em;
}
.index_banner .btn_01{
	background:#c0bf4e;
}
.index_banner .btn_01:hover ,.index_banner .btn_01:focus{
	background:#94473a;
}
.index_banner .btn_01  i{
	padding-left:5px;
}


/*index_news_03*/
.index_news_03{
	float:left;
	width:100%;
	padding:30px 0 60px 0;
	background:url(../Content/img/index_bg_news.png);
	background-repeat: no-repeat;
	background-position:right;
	background-attachment:fixed;
}
.index_news_03 .icon{
	float:left;
	width:40%;
}
.index_news_03 .icon ul{
	list-style:none;
	margin-bottom:0;
}
.index_news_03 .icon ul li{
	float:left;
	width:44%;
	text-align:center;
	position:relative;
	margin:3%;
}
.index_news_03 .icon ul li:hover .img,.index_news_03 .icon ul li:hover .title{
	border-radius:30px;
}
.index_news_03 .icon ul li .title{
	position:absolute;
	bottom:0;
	font-size:1.2em;
	font-weight:bold;
	width:90%;
	padding:10px;
	color:#fff;
	display:flex;
	align-items:center;
	justify-content:center;
	height:90%;
	margin:5%;
	border:solid #fff 1px;
	border-radius:5px;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.index_news_03 .news{
	width:60%;
	float:left;
	padding:20px 0 20px 60px;
}
.index_news_03 .news h2{
	text-align:center;
	margin-bottom:10px;
}
.index_news_03 .news ul{
	list-style:none;
	padding:10px 0;
}
.index_news_03 .news .list li{
	padding-bottom:10px;
	float:left;
	width:100%;
	background:#fff;
	padding:5px 10px;
	border-radius:5px;
	box-shadow:0px 0px 3px 3px  rgba(20%,20%,20%,0.01); 
}
.index_news_03 .news ul li:last-child{
	border-bottom:none;
}
.index_news_03 .news .date{
	float:left;
}
.index_news_03 .news .title{
	padding:5px 0 5px 90px;
}


/*index_news_03 bookmark*/
.index_news_03 .nav>li>a {
    padding: 5px 12px;
	border-radius:30px;
	margin-right:5px;
	border:solid #94473a 1px;
	color: #94473a;
	background-color: transparent;
}
.nav-tabs {
    border-bottom-color: transparent;
	text-align:center;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus {
	background-color: #94473a;
	color: #fff!important;
	border: 1px solid #94473a !important;
}
.nav-tabs li a:hover {
    background-color:rgba(255,255,255,0.5);
	color:#94473a !important;
}
.tab-content {
	border-radius: none;
	box-shadow: none;
	background-color: transparent;
	border: none;
	padding: 0;
}


/*index_info*/
.index_info{
	float:left;
	width:100%;
	padding:30px 0 60px 0;
}
.index_info .title{
	float:left;
	width:100%;
	padding:30px 5% 20px 5%;
	text-align:center;
	color:#333;
}
.index_info .title ul{
	float:left;
	width:100%;
	list-style:none;
	margin:10px auto 0 auto;
	font-size:0.9em;
}
.index_info .title ul li{
	display:inline-block;
	padding:0 0 0 3px;
}
.index_info .title ul li a{
	color:#0093de;
}
.index_info .title ul li a:hover{
	color:#0071ab;
}
.index_info .title ul li:after{
	content:"∣";
	padding-left:10px;
}
.index_info .title ul li:last-child:after{
	content:"";
}
.index_info .list{
	list-style:none;
}
.index_info .list li{
	width:23%;
	margin:1%;
	float:left;
    position: relative;
}
.index_info .list li .font_box{
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
}
.index_info .list li:hover .font_box{
    height: 100%;
    color: #fff;
    /*text-shadow: 2px 2px 2px #333;*/
	background: rgba(0,0,0,0.5);
}
.index_info .list li .font_box .title{
	font-size:1.1em;
	font-weight:bold;
	color:#fff;
	text-align:left;
	padding:0;
	text-shadow: 0 1px 3px rgba(0,0,0,.8);
}
.index_info .list li .font_box .title i{
	padding-left:5px;
}
.index_info .list li:hover .font_box .title i{
	display:none;
}
.index_info .list li .font_box .con_font{
	border-top:solid rgba(255,255,255,.4) 1px;
	margin-top:10px;
	padding-top:10px;
	display:none;
	font-size:0.9em;
	float: left;
}
.index_info .list li:hover .font_box .con_font{
	display: block;
}
.index_info .btn_box{
	padding:30px 0 0 0 ;
	text-align:center;
	float:left;
	width:100%;
}


/*index_link*/
.index_link{
	float:left;
	width:100%;
	background:#eee;
	position: relative;
}
.index_link .owl-carousel{
	float:left;
	width:100%;
	padding:30px 50px 20px 50px;
	margin-bottom:0;
}
.index_link .owl-carousel .item ,.index_link .owl-carousel a{
	float:left;
	width:100%;
}
.index_link .owl-carousel a:focus{
	border:2px solid #00b0f0 !important;
}
.index_link .owl-carousel img{
	border:solid #e1e1e1 1px;
}
.index_link .owl-carousel .owl-nav .owl-prev {
    top: 35%;
}
.index_link .owl-carousel .owl-nav .owl-next {
    top: 35%;
}
.owl-theme .owl-nav [class*=owl-]:hover{
	background:#94473a!important;
}


/*footer menu*/
.footer_menu{
	float:left;
	width:100%;
	background:#94473a;
	padding:28px 0;
}
.footer_itme{
	float:left;
	width:12.5%;
	padding: 0 1%;
	/*text-align:center;*/
}
.footer_menu li a{
	/*font-weight:bold;*/
	float:left;
	/*padding:5px 0 5px 0;*/
	margin:3px 0;
	width:100%;
	font-size: 0.85em;
	text-align:center;
}
.footer_menu li a:hover ,.footer_menu .footer_itme .footer_title a:hover{
	color:#cdb358!important;
}
.footer_menu .footer_itme .footer_title {
	padding:5px 10px;
	color:#fff !important;
	font-size:1em;
	width: 100%;
    float: left;
	margin-bottom:5px;
	line-height:130%;
	font-weight:bold;
	margin-top:10px;
	/*border-bottom:solid rgba(255,255,255,0.2) 1px;*/
	background: #ac8e28;
    border-radius: 30px;
    text-align: center;
}
.footer_menu .footer_itme .footer_title a{
	color:#fff;
}
.footer_menu .footer_itme .footer_title a:hover{
	color:#94473a!important;
}
/*.footer_menu .footer_itme:nth-child(6n-5) .footer_title{
	background:#94473a;
}
.footer_menu .footer_itme:nth-child(6n-4) .footer_title{
	background:#4ec05e;
}
.footer_menu .footer_itme:nth-child(6n-3) .footer_title{
	background:#c0bf4e;
}
.footer_menu .footer_itme:nth-child(6n-2) .footer_title{
	background:#c0914e;
}
.footer_menu .footer_itme:nth-child(6n-1) .footer_title{
	background:#cd7b39;
}
.footer_menu .footer_itme:nth-child(6n) .footer_title{
	background:#a65937;
}*/
.footer_menu .footer_itme:nth-child(8n+1){
	clear:both;
}
.footer_itme ul{
	list-style:none;
	margin-bottom:20px;
	float:left;
	width:100%;
}
.footer_itme ul li{
	padding:5px;
}


/*footer*/
footer{
	background:#f9f9f9;
	border-top:solid #fff 2px;
	padding:30px 0 0 0;
	font-size:0.9em;
	float:left;
	width:100%;
	line-height: 170%;
}
footer .col-md-4{
	padding:0 20px 20px 20px;
}

.search #footer_search {
    background: #c2c4c4;
    border: none;
    padding: 5px 40px 5px 10px;
    width: 100%;
    height: 35px;
}
.footer_menu li a{
	color:#fff !important;
}
.search>label{
	width:100%;
	margin:10px 0 5px 0;
}
.search #footer_search{
	background:#e5e5e5;
	border:none;
	padding:5px 50px 5px 10px;
	width:100%;
	height:43px;
}
.search .search_icon{
	background:#94473a;
	border:none;
	position: relative;
    float: right;
    margin-top: -48px;
	height:43px;
	width:43px;
	/*right:45px;*/
}
.search .search_icon:hover{
	background:#90730f;
}
.search .adv_search_icon{
	background:#94473a;
	border:none;
	position: relative;
    float: right;
    margin-top: -48px;
	height:43px;
	width:43px;
}
.search .search_icon i ,.search .adv_search_icon i{
	color:#fff;
	font-size:1.6em;
	padding-top: 5px;
}
/*.search .hotword{
	font-size:0.9em;
}*/
.search .hotword a{
	color:#999 !important;
	text-decoration: underline;
	padding:0 5px;
}
.search .hotword a:hover{
	color:#94473a !important;
}
footer .link{
	list-style:none;
	padding:30px 0;
	float: left;
	margin-bottom:0;	
}
footer .link li{
	float:left;
}
footer .link .fa-1g {
    font-size: 1.3em;
}
footer .link li i.fa-circle:before{
	color:transparent;
}
footer .link .fa-circle{
	color:#fff;
}
footer .link .fa-circle:before {
    border: solid #94473a 4px;
    border-radius: 50%;
}
footer .link .fa-1g{
	font-size:1.5em;
}
footer .link .fa-stack-1x:before{
	color:#94473a;
}
footer .link a{
	padding-right:10px;
}
footer .link a:hover .fa-circle:before{
	 border: solid #2fbcd3 4px;
}
footer .link a:hover .fa-stack-1x:before{
	color:#2fbcd3;
}
footer .position{
	list-style:none;
}
footer .position img{
	max-width:93px;
}
footer .position .table-row ,footer .contact .table-row{
	/*border-bottom:solid #fff 1px;*/
	padding:20px 0 ;
	float: left;
    width: 100%;
}
footer .position .table-row:first-child ,footer .contact .table-row:first-child{
	padding:0 0 20px 0 ;
}
footer .position .table-row:last-child ,footer .contact .table-row:last-child{
	border-bottom:none;
}
footer .position .img{
	width:30%;
	padding-right:20px;
	border:solid #eee 1px;
}
footer .position .con ,footer .contact .con{
	vertical-align:top;
	line-height:150%;
}
footer .position .title{
	color:#94473a;
	font-size:1.5em;
	margin-bottom:5px;
	font-weight:bold;
}
footer .contact .con a{
	color:#333 !important;
}
footer .contact i:before{
	font-size:2em;
	color:#94473a;
}
footer .contact .tel{
	font-size:1.9em;
	color:#94473a;
	font-family: Tahoma;
	font-weight:bold;
	margin:10px 0;
}
footer .contact .title{
	font-size:1.3em;
	margin-top:20px;
}
footer .contact .title:first-child{
	margin-top:10px;
}
#footer .quantity img{
	width:50%;
	padding:0 20px 0 0;
	max-width:130px;
	filter: grayscale(100%);
}
#footer .line{
	margin-top:10px;
}


/*copyright*/
footer .copyright{
	background:#444;
	color:#fff;
	padding:10px 0;
	text-align:center;
	font-size:0.9em;
}
footer .copyright img{
	padding:5px 15px;
}
.copyright_menu{
	list-style:none;
	float:left;
}
.copyright_menu li{
	float:left;
	padding:0 5px;
}
.copyright_menu li a{
	background:#666;
	border-radius:5px;
	padding:7px 12px;
	color:#fff;
}
.copyright_menu li a:hover{
	background:#94473a !important;
	color:#fff !important;
}
.copyright a{
	color:#fff ;
}


/*page content*/
.page_content{
	min-height:500px;
	padding-bottom:60px;
	margin-top: 110px;
    float: left;
    width: 100%;
}
.page_content .btn_box{
	float:left;
	width:100%;
	padding:30px 0;
}


/*page top*/
.page_top{
	background:#eeeeef;
	padding:6px 15px;
	font-size: 0.8em;
}
.page_top #main-content{
	font-size:0.9em;
}
.page_top .fa-angle-right{
	padding:0 7px;
}
.page_top .active{
	color:#90730f;
}

.page_top_right{
	float:right;
	margin-top:-50px;
}
.page_top_right img{
	width:30px;
}


/*page title*/
.page_content .title h2 {
    width: 100%;
    padding-right: 160px;
	border-bottom: solid #eee 1px;
    margin: 40px 0 0 0;
    padding: 0 280px 20px 10px;
}
.page_content .title .page_share{
	position:relative;
	float:right;
	margin-top:-60px;
}
.page_content .page_share .fa-circle{
	color:#fff;
}
.page_content .page_share .fa-circle:before {
    border: solid #2fbcd3 4px;
    border-radius: 50%;
}
.page_content .page_share .fa-1g{
	font-size:1.3em;
}
.page_content .page_share .fa-stack-1x:before{
	color:#2fbcd3;
}
.page_content .page_share a:hover .fa-circle:before{
	 border: solid #94473a 4px;
}
.page_content .page_share a:hover .fa-stack-1x:before{
	color:#94473a;
}


/*content_con*/
.content_con{
	float:left;
	width:100%;
}
.content_con .left{
	float:left;
	width:80%;
	padding:30px 30px 0 10px ;
}
.content_con .right{
	float:right;
	width:20%;
}
.content_con .con_one{
	float:left;
	width:100%;
	padding:30px 10px 0 10px ;
}
.content_con .edit_con ul ,.content_con .edit_con ol{
	padding-left:30px;
}
.menu_title{
	width:100%;
	float:left;
	color:#fff;
	font-size:1.5em;
	padding:20px 5% 15px 15%;
	background:#94473a;
	font-weight:bold;
	line-height: 140%;
}
.menu_title a{
	font-size:0.5em;
	color:rgba(255,255,255,.1);
}


/*right_menu*/
.right_menu{
	list-style:none;
	float:left;
	width:100%;
	background:#888;
	border-radius:0;
	border:none;
}
.right_menu .navbar-collapse{
	padding:0;
}
nav.sidebar .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: 100%;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	min-width: auto;
}
.right_menu .navbar-nav li{
	width:100%;
}
.navbar-nav {
    width: 100%;
}
.right_menu .navbar-nav>li{
	border-top: solid rgba(255,255,255,.3) 1px;
	color:#fff;
}
/*.right_menu .navbar-nav>li:first-child{
	border-top: none;
}*/
.right_menu .navbar-nav>li>a {
	padding: 15px 5% 15px 15%;
	color:#fff;
	font-weight: 500;
}
.right_menu .navbar-nav>li>a:hover{
	background-color:rgba(0,0,0,0.1);
}
.right_menu .dropdown-submenu>a {
    padding: 15px 15px 15px 15% !important;
	margin: 0;
    color: #000;
	width:100%;
}
.right_menu .dropdown-submenu>a i{
	float: right;
}
.right_menu .nav .open>a:hover, .left_menu .nav .open>a:focus, .left_menu .nav .open>a {
    background-color:rgba(0,0,0,0.1);
    border-color: none;
	color:#fff;
}
.right_menu .dropdown-menu {
	background:rgba(0,0,0,0.3);
	padding: 0;
}
.right_menu .dropdown-menu li{
	border-bottom:rgba(255,255,255,0.5) solid 1px;
}
.right_menu .dropdown-menu li:last-child{
	border-bottom:none;
}
.right_menu .dropdown-menu>li>a {
    padding: 15px 5% 15px 20%;
	white-space: normal; 
	color:#fff;
}
.right_menu .dropdown-menu>li>a:hover {
	background:rgba(0,0,0,0.1);
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color:rgba(0,0,0,0.5);
}


/*page_bottom*/
.page_bottom{
	float:left;
	width:100%;
	padding:20px 0;
}
.page_bottom>div{
	float:left;
	width:100%;
	padding:3px 0;
}
.page_bottom .title{
	width:120px;
	background:#f5f5f5 /*#747474*/;
	/*color:#fff;*/
	border-radius:4px;
	padding:5px;
	text-align:center;
	float:left;
}
.page_bottom .title i{
	padding-right:5px;
}
.page_bottom .con_font{
	padding-left:130px;
	line-height:170%;
	margin-top:-30px;
	float:left;
	clear:both;
}
.page_bottom .con_font a{
	/*padding:4px 0;*/
	padding-bottom:10px;
	float:left;
	/*width:100%;*/
	clear:both;
	line-height:150%;
}


/*news*/
.page_search{
	float:left;
	width:100%;
	text-align:right;
	/*color:#94473a;*/
	padding-bottom:10px;
}
.page_search ul{
	list-style:none;
}
.page_search ul li:nth-child(1){
	/*float:left;*/
}
.page_search ul li{
	display: inline-block;
	vertical-align:top;
	/*padding-left:20px;*/
	margin:5px 0;
}
.page_search label{
	margin:0 5px 5px 0;
}
.page_search .item_title{
	float:left;
	padding:5px 10px 0 0 ;
	font-weight:400;
}
.page_search .form-control{
	/*border-color:#94473a;
	border-radius:0 !important;*/
}
.page_search .input-group-addon{
	background-color:transparent !important;
	color:#94473a;
	border:none !important;
}
.page_search button{
	background:#666;
	color:#fff;
	vertical-align:top;
	font-size:0.9em;
	min-height:34px;
}
.page_search button:hover, .page_search button:focus{
	background:#94473a;
	color:#fff !important;
}
.page_search .list_icon{
	display:inline-block;
}
.page_search .list_icon button{
	color:#666;
	border: solid #666 1px;
	background: transparent;
}
.page_search .list_icon button:hover ,.page_search .list_icon button:focus{
	color:#fff;
	background: #94473a;
	border: solid #94473a 1px;
}


/*news_list*/
.news_list{
	width:100%;
	float:left;
}
.news_list a{
	width:31.3%;
	float:left;
	margin:1%;
	border:solid #eee 1px;
	padding:15px;
	border-radius:5px;
}
.news_list a:hover{
	border:solid #94473a 1px;
	/*background:rgba(4,133,87,0.05);*/
}
.news_list .item img{
	width:100%;
	border:solid #ddd 1px;
}
.news_list .item .date{
	font-weight:bold;
	padding:5px 0 0 0;
}
.news_list .class{
	font-size:0.8em;
	float:left;
	width:100%;
}
.news_list .class .top_class{
	margin-left:0;
}
.news_list .item .title{
	font-weight:bold;
}
.news_list_02 ,.news_list_02 a{
	float:left;
	width:100%;
}
.news_list_02 .item{
	float:left;
	width:100%;
	padding:20px;
	border-bottom:solid #eee 1px;
}
.news_list_02 .item img{
	max-width:200px;
	margin:0 20px 10px 0 ;
	border:solid #ccc 1px;
}
.news_list_02 .item .date{
	font-size:0.9em;
	width:100%;
}
.news_list_02 .item .class{
	font-size:0.9em;
	float:left;
}
.news_list_02 .title{
	padding-left:1.5em;
}
.news_list_02 .title:before{
	content:"•";
	padding-right:1em;
	margin-left: -1.5em;
}


/*event*/
.event_list{
	float:left;
	width:100%;
    position: relative;
}
.event_list .item {
    float:left;
	width:100%;
	margin-bottom:60px;
}
.event_list .item:last-child {
	margin-bottom:0;
}
.event_list .item:before {
    content: "";
    position: absolute;
    left: 125px;
    top: 0;
    display: block;
    width: 2px;
    height: 100%;
    background: #90730f;
}
.event_list .year{
	font-family:Tahoma;
	font-weight:bold;
	font-size:2.5rem;
	color:#666;
}
.event_list .year:after{
	content: "\f111";
	font-family: "Font Awesome 5 Free";
    font-weight: 900;
	font-size:1rem;
	color:#90730f;
	margin: -50px 0 0 16px;
    vertical-align: top;
}
.event_list ul{
	list-style:none;
	margin: -35px 0 20px 150px;
}
.event_list ul a{
	width:100%;
	float:left;
}
.event_list ul li:hover ,.event_list ul a:focus li{
	border:solid #94473a 1px;
	background:#94473a;
	color:#fff;
}
.event_list ul li{
	float:left;
	width:100%;
	background:#fff;
	border:solid #ccc 1px;
	padding:5px 10px;
	border-radius:5px;
	margin:5px 0;
}


/*表單管理*/
.submit_btn{
	width:100%;
	float:left;
	text-align:center;
}
.form_con{
	margin:0 auto;
	max-width:700px;
	padding:30px 0 0 0;
}
.form_box{
	border: solid #f5f5f5 10px;
	padding:10px;
	background:#fff;
	font-size: 0.95em;
}
.form_box .table-row{
	border-bottom:#900 solid 1px;
}
.form_q{
	display:table-cell;
	width:25%;
	padding:8px;
	text-align:right;
	/*border-bottom: #ccc dotted 1px;*/
	border-right: #ccc dotted 1px;
	/*font-weight:bold;*/
	color:#000;
	vertical-align: top;
}
.form_a{
	display:table-cell;
	width:75%;
	padding:8px;
	margin:8px;
	/*border-bottom: #ccc dotted 1px;*/
	line-height:170%;
}
.form_a input{
	height:30px;
}
.form_a .mt-radio,.form_a .mt-checkbox ,.input_table .mt-radio,.input_table .mt-checkbox{
	margin:5px 25px 5px 5px;	
}
.mt-radio span,.mt-checkbox span{
	margin-top:3px !important;
	background:#fff  !important;	
}
.form_box .table-row:nth-child(even){
	background:#f5f5f5;
}
.form-control{
	box-shadow:none;
}
.required{
	color:red;
	font-size:0.9em;
	line-height:140%;
	padding:3px 0;
}
.form_a i{
	padding:0 5px 0 10px;
}
.form_a label{
	font-weight:500;
}
.verification_code{
	margin:3px 0 3px 10px;
	display:inline-block;
}


/*表單checkbox radio*/
.mt-checkbox, .mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 14px;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.mt-checkbox.mt-checkbox-disabled, .mt-checkbox.mt-radio-disabled, .mt-radio.mt-checkbox-disabled, .mt-radio.mt-radio-disabled {
    opacity: .6;
    filter: alpha(opacity=60);
}
.mt-checkbox>input, .mt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);
}
.mt-checkbox>span, .mt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background: #E6E6E6;
	margin-top:3px;
}
.mt-checkbox>span:after, .mt-radio>span:after {
    content: '';
    position: absolute;
    display: none;
}
.input-icon>i, .mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-checkbox>input:checked~span:after, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio, .mt-radio>input:checked~span:after {
    display: block;
}
.mt-checkbox:hover>input:not([disabled])~span, .mt-checkbox>input:focus~span, .mt-radio:hover>input:not([disabled])~span, .mt-radio>input:focus~span {
    background: #d9d9d9;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.mt-checkbox:hover>input:not([disabled]):checked~span, .mt-checkbox>input:checked~span, .mt-radio:hover>input:not([disabled]):checked~span, .mt-radio>input:checked~span {
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #d9d9d9;
}
.icon-btn, .icon-btn:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.mt-checkbox>input:disabled~span, .mt-radio>input:disabled~span {
    opacity: .6;
    filter: alpha(opacity=60);
    pointer-events: none;
}
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-checkbox-outline>input:checked~span, .mt-checkbox.mt-checkbox-outline>input:focus~span, .mt-checkbox.mt-checkbox-outline>span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-radio-outline>input:checked~span, .mt-checkbox.mt-radio-outline>input:focus~span, .mt-checkbox.mt-radio-outline>span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-radio.mt-checkbox-outline>input:checked~span, .mt-radio.mt-checkbox-outline>input:focus~span, .mt-radio.mt-checkbox-outline>span, .mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-radio-outline:hover>input:not([disabled])~span, .mt-radio.mt-radio-outline>input:checked~span, .mt-radio.mt-radio-outline>input:focus~span, .mt-radio.mt-radio-outline>span {
    border: 1px solid #ccc;
    background: 0 0;
}
.mt-radio>span, .timeline .timeline-badge-userpic img {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
}
.mt-radio>span {
    -ms-border-radius: 50%!important;
    -o-border-radius: 50%!important;
    border-radius: 50%!important;
}
.mt-radio>span:after {
    left: 6px;
    top: 6px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #666;
}
.mt-radio>input:disabled~span:after {
    background: #666;
}
.mt-checkbox>span:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #666;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.mt-checkbox>input:disabled~span:after {
    border-color: #666;
}
.mt-checkbox-list, .mt-radio-list {
    padding: 10px 0;
}


/*epaper_detail*/
.epaper_list{
    margin: 0 0 10px 0 ;
	background:#94473a;
	border-radius:5px;
	float:left;
	width:100%;
	border:solid #94473a 5px;
	font-size:0.9em;
}
.epaper_class{
    padding:3px 10px 5px 10px;
	font-weight:bold;
	font-size:18px;
	color:#fff;
}
.epaper_item{
	list-style:square;
	padding:0 20px 0 30px;
	background:#fff;
	border-radius:5px;
	float:left;
	width:100%;
	margin:0;
}
.epaper_item li{
	border-bottom: dotted #ddd 1px;
	padding:5px 0;
	line-height:170%;
}
.epaper_footer{
	text-align:center;
	font-size:0.8em;
	line-height:150%;
	border-top:double #fff 5px;
	float:left;
	width:100%;
	margin-top:10px;
	padding:10px;
	background:#f5f5f5;
}

/*16.網站導覽*/
.sitemap_list{
	list-style:none;
	float:left;
	width:100%;
	display:table;
	margin-bottom: 25px;
}
.sitemap_list .sitemap_item{
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	vertical-align: middle !important;
    padding: 10px 10px 10px 20px;
	width: 100%;
	float:left;
	display:table-row;
}
.sitemap_list .sitemap_item:last-child{
	border-bottom: solid 1px #ddd;
}
.sitemap_list_1{
	list-style:none;
	float:left;
	width:100%;
	display:table;
	margin-top:5px;
}
.sitemap_list_1 li{
	vertical-align: middle !important;
	width: 100%;
	float:left;
	display:table-row;
}
.sitemap_item {
    float: left;
}
.sitemap_item_1{
	padding:5px 10px 3px 23px !important;
	float:left;	
}
.sitemap_item_2{
	padding:5px 10px 3px 38px !important;
	float:left;	
}
.sitemap_no{
	display:table-cell;
}
.sitemap_font{
	padding-left:10px;
	display:table-cell;
}


/*table scroll*/
.table-scrollable{
	width:100%;
	overflow-x:auto;
	overflow-y:hidden;
	/*margin:5px 0 15px 0 !important;
	float:left;
	border-top: none;
	border-bottom: 1px solid #e7ecf1;
	border-left: 1px solid #e7ecf1;
	border-right: 1px solid #e7ecf1;*/
	border:none;
}
.table-scrollable>.table-bordered>thead>tr:last-child>th,.table.table-bordered thead>tr>th{
	border-bottom:0;
	border:1px solid #ddd;
	line-height: 130%;
    vertical-align: middle;
	padding: 10px;
}
.table-scrollable>.table{
	width:100%!important;
	margin:0!important;
	min-width:650px;
	/*font-weight:bold; */
}
.table-scrollable>.table>thead{
	/*border-top: solid 1px #ddd;*/
}
.table-scrollable>.table>thead>tr>th , .table-scrollable th ,table>thead>tr>th{
	white-space:nowrap; 
	padding: 12px 20px; 
	background:#eee; 
	color:#333;
	font-weight:500;
	text-align:center;
	border-bottom: none;
	font-weight:bold;
}
.table-bordered > tbody > tr > td{
    /*border: 1px solid #94473a;*/
}
.table-hover > tbody > tr:hover{
	background:rgba(148,71,58,.05);
}
.table>tbody>tr>td{
	vertical-align: middle !important;
	padding: 12px 20px;
	border-top: none;
	border-bottom: 1px solid #eee;
}
.table_icon{
	padding:3px 3px 2px 3px !important;
	vertical-align:middle;
}
.table {
    margin-bottom: 0px;
}
.table-scrollable .table>tbody>tr>th ,.table-scrollable .table>tbody>tr>td{
    /*border-right: solid 1px #ddd;*/
	padding:12px 20px;
}
.table-scrollable img{
	max-width:165px;
	border:solid #ddd 1px;
}
.table-scrollable a .fa-square{
	color:#666;
}
.table-scrollable a:hover .fa-square ,.table-scrollable a:focus .fa-square{
	color:#94473a;
}
.table-scrollable a .fa-download{
	color:#fff;
}


/*table*/
.table {
  display: table;
}
.table-row {
  display: table-row;    
}
.table-cell {
  display: table-cell;   
}


/*頁碼*/
#page_number{
	padding-top:20px;
	font-size:0.9em;
	float:left;
	width:100%;
}
.page_total{
	vertical-align:middle;
	margin:0 0 10px 0;
}
.page_icon{
	text-align:right;
	margin-bottom:10px;
}
.btn_page{
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    border: none /*1px solid #ccc*/;
    padding: 3px 0;
    font-size: 1em;
	background:#666;
	/*margin-left:-5px;*/
	border-radius:5px;
	margin-top: -2px;
	color:#fff;
	width:34px;
}
.page_list{
	border: 1px solid #ccc;
	display:inline-block;
	cursor: pointer;
	box-shadow:none;
}
.btn_page:hover{
	background:#94473a;
	color:#fff;
}
#page_number .page_list{
	margin-top:-2px;
}


/***Hover效果1: 放大淡出***/
.imh_opacity{
	background:#000;
	overflow:hidden;}

.imh_opacity img{	
	transition:all 0.3s linear;
	-webkit-backface-visibility: hidden;
	width:100%;}

.imh_opacity:hover img ,a:hover .imh_opacity img{
	opacity:0.8;
	transform:scale(1.05);}

/***Hover效果1: 放大淡出Detail***/
.imh_detail{
	background:#000;
	overflow:hidden;
    	position: relative;}

.imh_detail img{	
	transition:all 0.3s linear;
	-webkit-backface-visibility: hidden;
	width:100%;}

.imh_detail a:before{
	display:block;
	content:"Details+";
	padding:10px 20px;
	font-size:13px;
	color:#FFF;
	border:2px solid #FFF;
	opacity:0;
	
	position:absolute;
	left:50%;
	margin-left:-45px;
	top:50%;
	margin-top:-80px;
	z-index:99;
	
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;}

.imh_detail:hover a:before{
	opacity:1;
	margin-top:-20px;}

.imh_detail:hover img{
	opacity:0.3;
	transform:scale(1.05);}

/***Hover效果1: 放大淡出zoom***/
.imh_zoom{
	background:#000;
	overflow:hidden;
	position:relative;}

.imh_zoom img{	
	transition:all 0.3s linear;
	-webkit-backface-visibility: hidden;
	width:100%;}

.imh_zoom a:before{
	display:block;
	font-family: 'FontAwesome';
	content:"\f002";
	font-size:18px;
	color:#FFF;
	background:#000;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius:100%;
	
	position:absolute;
	left:50%;
	top:-30px;
	margin-top:-20px;
	margin-left:-20px;
	z-index:99;
	
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;}

.imh_zoom:hover a:before{
	top:50%;}

.imh_zoom:hover img{
	opacity:0.3;
	transform:scale(1.05);}



/*print*/
.con_box{
	padding: 2%;
    margin: 2%;
    border: solid 1px #ccc;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 4px rgba(20%,20%,20%,0.1);
	background: #fff;
}
.con_banner{
	margin-bottom:15px;
}
.con_banner img{
	border-radius:10px;
	box-shadow: 0px 0px 6px 2px rgba(20%,20%,20%,0.1);
	border: solid 1px #fff;
}
.con_box>.title{
	width: 100%;
    border-bottom: solid #eee 1px;
    padding: 0 0 10px 0;
	margin-bottom:10px;
}
.con_box>.title h2{
	font-size:1.7em;
}
.con_box .page_title_item{
	text-align:left;
}
.con_box .form_con {
    padding: 10px 0 0 0;
}
.con_footer{
	font-size:0.9em;
	padding: 0 20px 20px 20px;
	line-height:150%;
}
.con_float{
	float:left;
	width:100%;
}
.con_box .page_con{
	padding:10px 0;
}
.con_box ol ,.con_box ul{
	padding-left:30px;
}



/*--------------------------------------for 電腦、平版、手機------------------------------------------------*/
/* 大螢幕 */
@media (min-width: 1200px) {
.container {
    width: 1200px;
    /*padding: 0px;*/
}


/*header*/
#header .dropdown-toggle .fa-caret-down{
	padding-top:3px;
    display: none;
}
#header .dropdown-submenu .dropdown-menu{
	background: #5a9e2c!important;
    margin: 0!important;
}


/*index_banner*/
.tp-caption.item_box{
    min-width: 500px !important;
}


/*footer*/
footer .contact i{
	width:80px !important;
}


/*news_list*/
.news_list .item{
	min-height:301px;
}
.news_list a:nth-child(3n+1){
	clear:both;
}

}

 
/* 平板電腦、橫向手機和一般桌機解析度 */
@media (min-width: 992px) and (max-width: 1199px) {
.container {
    width: 100%;
	padding: 0 20px;
}


/*header*/
.header-nav-main{
	margin:0 -15px;
}
.dropdown-toggle .fa-caret-down{
	padding-top:3px;
    display: none;
}
.dropdown-submenu .dropdown-menu{
    margin: 0!important;
}


/*index_banner*/
.tp-caption.item_box{
    min-width: 500px !important;
}


/*index_news_03*/
.index_news_03 .news {
    padding: 20px 0 20px 30px;
}


/*footer*/
footer .contact i{
	width:80px !important;
}


/*news_list*/
.news_list .item{
	min-height:330px;
}
.news_list a{
	width:31.3%;
}
.news_list a:nth-child(3n+1){
	clear:both;
}


}

/* 電腦、橫向平板電腦解析度 */
@media (min-width: 768px) and (max-width: 991px) {
.container {
    width: 100%;
	padding:0 15px;
}
    
    
/*header*/
#header .header-logo img{
    width:230px !important;
	padding:5px 0;
}
#header .header-nav-main nav > ul > li > a {
    font-size: 0.95em;
    padding: 10px 5px;
}
#header .header-nav-main {
    margin: 0;
}
.dropdown-toggle .fa-caret-down{
	padding-top:3px;
    display: none;
}
.dropdown-submenu .dropdown-menu{
    margin: 0!important;
}


/*index_banner*/
.tp-caption.item_box{
    min-width: 500px !important;
}


/*index_info*/
.index_info .list li{
	width:31.3%;
	margin:1%;
}


/*index_news_03*/
.index_news_03 .news {
    padding: 20px 0 20px 30px;
}


/*footer*/
footer .link {
	padding: 10px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .contact i{
	width:80px !important;
}
.footer_itme {
    width: 25%;
}
.footer_menu .footer_itme:nth-child(4n+1) {
    clear: both;
}


/*page content*/
.page_content{
	margin-top: 96px;
}


/*page title*/
.page_content .title h2{
	font-size:1.6em;
}
.page_content .page_share .fa-1g {
    font-size: 1.1em;
}


/*content_con*/
.menu_title {
    font-size: 1.2em;
}


/*news_list*/
.news_list .item{
	min-height:348px;
}
.news_list a{
	width:48%;
}
.news_list a:nth-child(2n+1){
	clear:both;
}


} 

 
/* 橫向智慧手機到竪立平板電腦解析度 */
@media (max-width: 767px) {
h2{
	font-size:1.5em!important;
}
.container {
    width: 100%;
	padding:0 15px;
}
.header-logo img{
	height: 52px !important;
	width:auto !important;
    vertical-align: top;
    padding: 5px 0;
}


/*手機版menu*/
#header {
    position: fixed;
    width: 100%;
}
#header .header-body{
    background: rgba(255,255,255,.9);
}
#header .header-container {
    /*padding: 0 10px;*/
}
.header-nav-main{
	margin:0 -15px;
	background:#94473a !important;
	padding:0;
}	
.dropdown-menu li {
	margin:0!important;
	padding:0!important;
}
.dropdown-menu>li>a {
	padding: 10px 28px 8px 20px !important;
	color:#fff;
	border-radius:0;
}
.dropdown-menu .dropdown-submenu>a {
	padding: 10px 28px 8px 20px !important;
}
.dropdown-menu .dropdown-submenu .dropdown-menu>li>a {
	padding: 10px 28px 8px 50px !important;
}
.nav-top{
	background:#999;
}
.nav-top li{
	width:100%;
	float:left!important;
	margin: 0;
	height:38px;
}
.nav-top li a{
	width:100%;
}
.nav-top select{
	margin:3px;
	padding:2px 5px !important;
	height:30px;
}
.nav-top .lang{
	float:left;
	width:100% !important;
}
.nav-top .lang .title{
	color:#fff;
	float:left;
	padding:5px 5px 5px 20px; 
	font-size:1em;
}
.nav-pills>li+li {
    margin-left: 0 !important;
}
#header .header-nav-main nav > ul >li:after {
    height: 0;
}
.nav-top .share_icon{
	text-align:center;
	width:100%;
	float:left;
	padding:2px;
}
.nav-top .share_icon a{
	width:30px;
	display:inline-block;
	text-align:center;
	border-radius:5px;
	padding: 5px 10px !important;
	width:40px;
	margin:0 5px;
}
.nav-top a i{
	font-size:1.2em;
	width:40px;
}
.header-nav-main nav > ul > li > a{
	border-left: none;
	border-top: none;
}
.header-nav-main nav > ul > li:last-child > a{
	border-right: none;
}
#header .header-body {
    box-shadow: 0px 2px 6px rgba(20%,20%,20%,0.1);
    position: fixed;
    width: 100%;
    background: #fff;
}


/*index_banner*/
.index_banner{
	margin-top:52px;
}
.tp-caption.item_box{
    width:100%;
    min-width: 350px !important;
}
.index_banner .title {
    font-size: 2.8em;
	margin-bottom:10px;
}


/*index_news_03*/
.index_news_03 {
    padding: 30px 0;
}
.index_news_03 .icon {
    width: 100%;
}
.index_news_03 .news {
    padding: 20px 10px;
	width: 100%;
}
.index_news_03 .nav>li>a{
	font-size:10px;
}


/*index_info*/
.index_info {
    padding: 20px 0 30px 0;
}
.index_info .list li{
	width:46%;
	margin:2%;
}



/*footer*/
footer {
    padding: 10px 0;
}
footer .col-md-4 {
    padding: 10px;
}
footer .fa-2x {
    font-size: 1.5em;
}
.footer_menu{
	margin-top: 0px;
}
footer .link {
	padding: 10px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .contact i{
	width:45px !important;
}
footer .contact i:before {
    font-size: 1.8em;
}


/*page_content*/
.page_content {
    margin-top: 53px;
	padding-bottom: 40px;
}


/*page title*/
.page_content .title h2{
	font-size:1.5em;
	border-bottom: solid #eee 1px;
    margin: 30px 0 0 0;
    padding: 0 0 20px 10px;
}
.page_content .title h2 {
    width: 100%;
    padding-right: 10px;
}
.page_content .title .page_share {
    margin-top: -45px;
}
.page_content .page_share .fa-1g {
    font-size: 0.9em;
}
.page_content .page_share .fa-circle:before {
    border: solid #2fbcd3 3px;
}
.page_top_right{
	float:right;
	margin-top:10px;
}


/*content_con*/
.content_con{
	padding:0 10px;
}
.content_con .left{
	float:left;
	width:100%;
	padding:30px 0 0 0 ;
}
.content_con .right{
	display:none;
}


/*news*/
.page_search{
	font-size:0.9em;
	text-align:left;
	
}


/*news_list*/
.news_list .item{
	min-height:340px;
}
.news_list a{
	width:48%;
}
.news_list a:nth-child(2n+1){
	clear:both;
}


/*event*/
.event_list .item:before {
    left: 84px;
	display:none;
}
.event_list .year {
    font-size: 1.5rem;
	margin-bottom:10px;
	color:#94473a;
}
.event_list .year:after {
    display:none;
}
.event_list .item {
    margin-bottom: 30px;
}
.event_list ul {
	margin:0;
}



/*頁碼*/
#page_number .page_icon{
	text-align:center;
}
.btn_page {
	  padding: 3px 9px;
}


/*table scroll*/
.table-scrollable{
	font-size:0.9em;
}
.table-scrollable .table>tbody>tr>td {
    padding: 12px 15px;

}



}
 
 
/* 橫向智慧手機及其他更小解析度 */
@media (max-width: 480px) { 
.container {
	/*padding:0 5%;*/
}
#tophome {
    padding: 2px 0;
}
.top_link a {
    color: #fff;
    font-size: 0.9em;
}
.top_link ul li:after ,.copyright_menu ul li:after{
	padding:0 0 0 3px;
}

/*index_banner*/
.tp-caption.item_box{
    width:100%;
    min-width: 250px !important;
}
.index_banner .title {
    font-size: 3.3em;
	margin-bottom:10px;
}
.index_banner .con_font {
    font-size: 2em;
}


/*index_news_03*/
.index_news_03 .news .date {
	width:100%;
}
.index_news_03 .news .title {
    padding:0;
}


/*index_info*/
.index_info .list li{
	width:100%;
	margin:3% 0;
}


/*footer*/
footer{
	font-size:0.8em;
}
footer .col-md-4 {
	width:100%;
}
.footer_menu li a {
    padding: 0 5px 0 0;
	font-size: 1.1em;
}
footer .position {
	display:none;
}
footer .position .table-row, footer .contact .table-row {
    border-bottom: none;
}
footer .contact i:before {
    font-size: 2em;
}
footer .web_mail{
	display:none;
}
footer .line{
	margin:10px 0;
}


/*page_banner*/
.page_banner{
	margin-top:0;
	padding-top: 52px;
}


/*news_list*/
.news_list .item{
	min-height:auto;
}
.news_list a{
	width:100%;
	margin:3% 0;
}


/*表單管理*/
.form_box {
	border: solid #f5f5f5 5px;
    padding: 5px;
}
.form_q{
	border-right:none;
	text-align:left;
	width:100%;
	display:block;
	margin: 0 0 -10px 0;
	padding:8px 15px 0 15px;
	float: left;
}
.form_a {
    width: 100%;
	display:block;
	margin: 0;
	padding:15px;
	border-bottom: #ccc dotted 1px;
	float: left;
}
.verification_code{
	margin:5px 0 3px 0;
	display:inline-block;
}
.forum_subject img {
	width:100px;
}



}



/*-----------------------------------------for編輯器--------------------------------------------*/
.w-100{
	width:100%;
}
.w-800{
	width:800px;
}
.w-auto{
	width:auto;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.text_center ,.text-center {
    text-align: center;
}
.text_right {
    text-align: right;
}
.text_left {
    text-align: left;
}
.red {
    color: #c00;
}
.white{
	color:#fff;
}
.required {
    color: #c00;
    font-size: 0.9em;
    line-height: 140%;
    padding: 3px 0;
}
.img_padding {
    padding: 10px;
}


/*table scroll*/
.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: none;
}
.table-scrollable > .table-bordered > thead > tr:last-child > th, .table.table-bordered thead > tr > th {
	border-bottom: 0;
	border: 1px solid #ddd;
	line-height: 130%;
	vertical-align: middle;
	padding: 10px;
}
.table-scrollable > .table {
	width: 100% !important;
	margin: 0 !important;
	min-width: 650px;
}
.table{
	margin-bottom:5px;
}
.table > tbody > tr > td {
    line-height: 190%;
	border: 1px solid #ddd;
	padding: 5px 10px;
}
.table-scrollable > .table > thead {
    border-top: solid 1px #ddd;
}
.table-scrollable > .table > thead > tr > th, .table-scrollable th, .table > thead > tr > th {
	white-space: nowrap;
	padding: 8px;
	background: #666;
	color: #fff;
	font-weight: 500;
}
.table-hover > tbody > tr:hover {
    background: rgba(0,105,62,0.05);
}
.table-even > tbody > tr:nth-child(even) {
    background: rgba(0,105,62,0.05);
}
.delete_th {
    padding: 10px 0 !important;
}


/*table*/
.table {
    display: table;
	border-color:#ddd;
	width:100%;
}
.table_01 {
    display: table;
	border:none;
	text-align:left;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}


/*縮排*/
.paddingleft22{
	padding-left:22px;
}
.textindent22{
	text-indent: -22px;
}
.text_indent{
	text-indent: 2em;
}


/*清單*/
.ol_01{
	list-style-type:cjk-ideographic; /*一, 二, 三*/
}
.ol_02{
	list-style-type:upper-latin; /*A, B, C*/
}
.ol_03{
	list-style-type:lower-alpha; /*a, b, c*/
}
.ul_01{
	list-style-type:square; /*實心方塊*/
}
.ul_02{
	list-style-type: disc; /*實心圓*/
}
.ul_none ,.ol_none{
	list-style:none;
	padding-left: 0;
}


/*錨點*/
.anchor_list{
	float:left;
	width:100%;
	list-style:none;
	margin-bottom:20px;
	padding-left:0 !important;
}
.anchor_list a{
	float:left;
	padding:5px 15px;
	border-radius:5px;
	color:#333;
	margin:5px;
	border: solid #ccc 1px;
	text-decoration:none;
}
.anchor_list li{
	float:left;
}
.anchor_list a:hover ,.anchor_list a:focus{
	background:#98672d;
	color:#fff;
	box-shadow:none;
	border: solid #98672d 1px;
}

