<div id="content" class="page_content">
    <div class="container">

        

       

        <div class="content_con">

            <div class="left">

                <div class="edit_con">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.ConfirmContent))
                </div>

            </div>

            <div class="right">
                <script>$.include("blocks/right_menu_3_1.html");</script>
            </div>
        </div>

    </div>
</div>
